.button-action {
  height: 48px;
  width: 160px;
  border: none;
  border-radius: 2px;
  background-color: #3040C4;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.top-section {
  background-color: #F3C6BD;
}
@media screen and (min-width: 400px) {
  .top-section {
    padding-top: 39px;
    background-color: #F3C6BD;
  }
}

.header {
  display: flex;
  height: 64px;
  background-color: #fff;
}
@media screen and (min-width: 400px) {
  .header {
    display: flex;
    margin: auto;
    width: 1140px;
    height: 62px;
    background-color: #F3C6BD;
  }
}

.header__logo {
  display: flex;
  align-items: center;
}
.header__logo .header__logo-img {
  height: 48px;
  width: 48px;
  margin-left: 15px;
  margin-right: 13px;
}
@media screen and (min-width: 400px) {
  .header__logo .header__logo-img {
    height: 60px;
    width: 60px;
    margin: auto;
    margin-right: 15px;
    margin-left: 0;
  }
}
@media screen and (min-width: 400px) {
  .header__logo .header__logo-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
}
.header__logo .header__logo-name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.header__logo .header__logo-description {
  display: none;
}
@media screen and (min-width: 400px) {
  .header__logo .header__logo-description {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    opacity: 0.6;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 400px) {
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
  .navigation__item {
    margin-right: 50px;
    color: #2B292D;
    text-decoration: none;
    line-height: 25px;
    font-size: 18px;
  }
  .navigation__item:last-child {
    margin-right: 0;
  }
  .navigation__arrow {
    display: inline-block;
    height: 5px;
    width: 8px;
    margin-left: 11px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  }
  .navigation__item_selected {
    font-weight: 700;
  }
}

.header__button {
  display: none;
}
@media screen and (min-width: 400px) {
  .header__button {
    display: block;
  }
}

.header__menu-button {
  height: 100%;
  width: 58px;
  margin-left: auto;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1490196078);
  background: transparent;
}
@media screen and (min-width: 400px) {
  .header__menu-button {
    display: none;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  margin: auto;
}

@media screen and (min-width: 400px) {
  .footer__content {
    display: flex;
    width: 1140px;
    height: 338px;
    margin: auto;
  }
}

.footer__information {
  border-bottom: 1px solid #E3E3E3;
  width: 100%;
}
@media screen and (min-width: 400px) {
  .footer__information {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: none;
  }
}

@media screen and (min-width: 400px) {
  .about-company {
    margin-top: 44px;
  }
}

.logo {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 399px) {
  .logo {
    display: none;
  }
}
.logo__img {
  margin: 0;
  height: 60px;
  width: 60px;
  margin-right: 15px;
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__description {
  font-size: 18px;
  line-height: 25px;
  color: #2B292D;
  opacity: 0.6;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__img {
  margin-top: 40px;
  height: 60px;
  width: 60px;
  margin-right: 0;
}
.logo-vertical__name {
  margin-top: 20px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  color: #2B292D;
  opacity: 0.6;
}

.footer__description {
  display: none;
}
@media screen and (min-width: 400px) {
  .footer__description {
    display: block;
    line-height: 26px;
    font-size: 18px;
    width: 360px;
    margin-top: 26px;
    color: #2B292D;
    opacity: 0.6;
  }
}

.footer__downloads {
  margin-top: 31px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 400px) {
  .footer__downloads {
    margin: 0;
    margin-top: 25px;
    justify-content: left;
  }
}
.footer__downloads .download__img {
  margin-right: 10px;
}

@media screen and (min-width: 400px) {
  .additional-navigation {
    margin-top: 60px;
    margin-left: 126px;
    display: flex;
  }
}
.additional-navigation__column {
  margin: 30px 15px;
}
@media screen and (min-width: 400px) {
  .additional-navigation__column {
    margin-right: 29px;
  }
}

.nav-links {
  width: 265px;
}

.nav-links__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2B292D;
  margin: 0;
}

.nav-links__list {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-top: 18px;
  color: #2B292D;
  opacity: 0.6;
}

@media screen and (min-width: 400px) {
  .footer__line {
    margin: 0;
    border-bottom: 1px solid #2B292D;
    width: 1400px;
    opacity: 0.1;
  }
}

.footer-links {
  margin-left: 15px;
}
@media screen and (min-width: 400px) {
  .footer-links {
    width: 1140px;
    height: 50px;
    margin: 0 auto;
    display: flex;
  }
}

.footer__navigation {
  line-height: 22px;
  font-size: 14px;
  margin-bottom: 31px;
}
@media screen and (min-width: 400px) {
  .footer__navigation {
    line-height: 50px;
  }
}
.footer__navigation .footer__navigation_item {
  text-decoration: none;
  color: #2B292D;
  opacity: 0.6;
  margin-right: 20px;
}

.social-links {
  margin-bottom: 23px;
}
@media screen and (min-width: 400px) {
  .social-links {
    margin-left: auto;
    line-height: 50px;
  }
}
.social-links__item {
  margin-right: 20px;
}
@media screen and (min-width: 400px) {
  .social-links__item {
    margin-left: 20px;
    margin-right: 0;
  }
}

.button-action {
  height: 48px;
  width: 160px;
  border: none;
  border-radius: 2px;
  background-color: #3040C4;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.button-action {
  height: 48px;
  width: 160px;
  border: none;
  border-radius: 2px;
  background-color: #3040C4;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.headline {
  width: 100%;
  background-color: #F3C6BD;
}
@media screen and (min-width: 400px) {
  .headline {
    display: flex;
    position: relative;
    width: 1245px;
    margin: 76px 25px 77px 130px;
  }
}
.headline__content {
  margin: 35px 15px 33px 15px;
}
@media screen and (min-width: 400px) {
  .headline__content {
    margin: 0;
    position: absolute;
    z-index: 1;
  }
}

.headline__title {
  margin: 0;
  height: 205px;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.31px;
}
@media screen and (min-width: 400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
    margin: 0;
  }
}

.headline__description {
  margin: 0;
  margin-top: 24px;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 400px) {
  .headline__description {
    margin-top: 34px;
    height: 102px;
    width: 456px;
    z-index: 1;
  }
}

.headline__actions {
  margin-top: 32px;
}
@media screen and (min-width: 400px) {
  .headline__actions {
    margin-top: 58px;
    display: flex;
  }
}

@media screen and (max-width: 399px) {
  .headline__button-action {
    width: 100%;
  }
}

.headline__button-action_light {
  height: 48px;
  width: 160px;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  color: #3040C4;
  font-weight: 700;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
}
@media screen and (max-width: 399px) {
  .headline__button-action_light {
    width: 100%;
  }
}
@media screen and (min-width: 400px) {
  .headline__button-action_light {
    margin-left: 10px;
    margin-top: 0;
  }
}

.headline__banner {
  max-width: 100%;
  margin-bottom: 33px;
}
@media screen and (min-width: 400px) {
  .headline__banner {
    position: relative;
    margin-top: 8px;
    margin-left: auto;
    margin-bottom: 0;
    top: 0;
    width: 796px;
    height: 448px;
  }
}

.about {
  width: 100%;
  padding: 46px 15px;
  background-color: #F4F5F7;
}
@media screen and (min-width: 400px) {
  .about {
    display: flex;
    width: 1400px;
    margin: auto;
    justify-content: space-between;
    padding: 77px 130px 76px;
  }
}

.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 400px) {
  .article {
    width: 555px;
  }
  .article:last-child {
    margin-top: 0;
  }
}
.article__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
}
.article__text {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 6px;
}

.customers {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 400px) {
  .customers {
    display: flex;
    width: 1140px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 106px;
    flex-direction: row;
  }
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
    align-items: center;
  }
}
.customers .customers__item {
  height: 97px;
  flex: 1;
  border-bottom: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 400px) {
  .customers .customers__item {
    border: none;
    height: 100%;
    width: 100%;
  }
}
.customers .customers__item:last-child {
  border-right: none;
}
.customers .customers__logo {
  filter: brightness(0);
  max-width: 70%;
}

@media screen and (min-width: 400px) {
  .customers-bottom {
    margin-bottom: 89px;
  }
}

.features__section {
  display: flex;
  position: relative;
}
@media screen and (max-width: 399px) {
  .features__section {
    display: none;
  }
}

.img-decoration {
  position: absolute;
  top: 258px;
}

.features {
  width: 1140px;
  display: flex;
  margin: auto;
}
.features__content {
  width: 459px;
}
.features__subtitle {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  color: #009B4D;
}
.features__title {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-top: 24px;
}
.features__description {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
.features__advantage-header {
  margin-top: 42px;
  display: flex;
}
.features__advantage-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-left: 15px;
  color: #3142C6;
}
.features__advantage-text {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142C6;
}
.features__advantage-item {
  font-size: 18px;
  line-height: 26px;
  border-bottom: 1px solid rgba(43, 41, 45, 0.1490196078);
  margin-top: 21px;
  padding-bottom: 22px;
  display: flex;
}
.features__advantage-item-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}

.features__banner {
  position: absolute;
  right: 0;
}

.tips {
  padding-top: 8px;
}
@media screen and (min-width: 400px) {
  .tips {
    display: none;
  }
}

.tip {
  padding: 40px 15px;
  border-bottom: 1px solid #E3E3E3;
}
.tip:last-child {
  border: none;
}
.tip__subtitle {
  margin: 0;
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
  color: #009B4D;
}
.tip__title {
  margin: 0;
  margin-top: 17px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -0.36px;
}
.tip__description {
  margin: 0;
  margin-top: 15px;
  font-size: 24px;
  line-height: 34px;
}
.tip__decoration {
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}
.tip .tip__image {
  flex: 1;
}
.tip .tip__image-caption {
  margin-top: 19px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  opacity: 0.6;
}

.order {
  padding: 50px 15px;
  background-color: #F4F5F7;
}
@media screen and (min-width: 400px) {
  .order {
    display: flex;
    justify-content: center;
    padding: 73px 0 72px 0;
  }
}
.order__image {
  display: block;
  margin: auto;
  height: 220px;
  width: 200px;
}
@media screen and (min-width: 400px) {
  .order__image {
    margin: 0;
    margin-right: 122px;
    min-width: 270px;
    min-height: 297px;
  }
}
@media screen and (min-width: 400px) {
  .order__description {
    max-width: 555px;
  }
}
.order__title {
  margin: 0;
  margin-top: 40px;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.25px;
}
.order__text {
  margin: 0;
  margin-top: 18px;
  font-size: 22px;
  line-height: 32px;
}
.order__form {
  margin-top: 79px;
}
@media screen and (min-width: 400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  width: 100%;
  height: 48px;
  border: 1px solid #E3E3E3;
  border-radius: 2px;
  text-align: center;
  font-size: 18px;
  line-height: 13px;
}
@media screen and (min-width: 400px) {
  .order__email {
    margin-top: 0;
  }
}
.order__email::placeholder {
  color: #2B292D;
}
.order__button {
  margin-top: 12px;
}
@media screen and (max-width: 399px) {
  .order__button {
    width: 100%;
  }
}
@media screen and (min-width: 400px) {
  .order__button {
    margin-top: 0;
    margin-left: 10px;
    flex-shrink: 0;
  }
}
.order__terms {
  margin: 0;
  margin-top: 10px;
  font-size: 14px;
  line-height: 22px;
  color: #2B292D;
  opacity: 0.6;
}
.order__terms .order__terms-link {
  color: #3142C6;
}

.audience {
  padding: 50px 15px;
  background-color: rgba(0, 161, 198, 0.0705882353);
}
@media screen and (min-width: 400px) {
  .audience {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 108px 0 110px 0;
  }
}
.audience__subtitle {
  margin: 0;
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
  text-align: center;
}
.audience__title {
  margin: 0;
  margin-top: 17px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -0.36px;
  text-align: center;
}
@media screen and (min-width: 400px) {
  .audience__title {
    width: 555px;
    font-size: 56px;
    line-height: 56px;
    margin-top: 24px;
    letter-spacing: -0.5px;
  }
}
.audience__text {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}
@media screen and (min-width: 400px) {
  .audience__text {
    width: 555px;
    margin-top: 30px;
  }
}
.audience__actions {
  margin-top: 30px;
}
@media screen and (min-width: 400px) {
  .audience__actions {
    display: flex;
    align-items: center;
    margin-top: 34px;
  }
}
.audience__button-action {
  display: block;
  width: 100%;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 400px) {
  .audience__button-action {
    width: 160px;
  }
}
.audience__button-action_light {
  height: 48px;
  width: 160px;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
  color: #000;
  font-weight: 700;
  font-size: 18px;
  margin-top: 12px;
  cursor: pointer;
}
@media screen and (max-width: 399px) {
  .audience__button-action_light {
    width: 100%;
  }
}
@media screen and (min-width: 400px) {
  .audience__button-action_light {
    margin-left: 10px;
    margin-top: 0;
  }
}
.audience__user-cards {
  margin-top: 40px;
}
@media screen and (min-width: 400px) {
  .audience__user-cards {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin-top: 111px;
  }
}
.audience__user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 22px 0 33px 0;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
  background: #fff;
  cursor: pointer;
}
.audience__user-card:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 400px) {
  .audience__user-card:last-child {
    margin-bottom: 15px;
  }
}
.audience__user-card:hover {
  background-color: #3141C5;
  color: #fff;
}
@media screen and (min-width: 400px) {
  .audience__user-card {
    max-width: 262px;
    flex: 1;
  }
}
.audience .audience__image {
  max-width: 100%;
}
.audience .audience__image-caption {
  margin-top: 22px;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}

.inbox {
  padding: 50px 15px 48px 15px;
  background-color: rgba(252, 240, 227, 0.4);
}
@media screen and (min-width: 400px) {
  .inbox {
    display: flex;
    justify-content: center;
    padding: 115px 0 101px 0;
    margin-top: 103px;
  }
}
@media screen and (min-width: 400px) {
  .inbox__decoration {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 27px;
    margin-right: 164px;
  }
}
.inbox__decoration-image {
  max-width: 100%;
  margin-bottom: 15px;
}
@media screen and (min-width: 400px) {
  .inbox__decoration-caption {
    font-style: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
  }
}
@media screen and (max-width: 399px) {
  .inbox__decoration-caption {
    display: none;
  }
}
@media screen and (min-width: 400px) {
  .inbox__description {
    margin-left: 28px;
    width: 461px;
  }
}
.inbox__description-subtitle {
  margin: 0;
  margin-top: 32px;
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
  color: #F1592B;
}
@media screen and (min-width: 400px) {
  .inbox__description-subtitle {
    margin-top: 0;
  }
}
.inbox__description-title {
  margin: 0;
  margin-top: 17px;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.36px;
  font-weight: 700;
}
@media screen and (min-width: 400px) {
  .inbox__description-title {
    margin-top: 24px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.inbox__description-text {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 400px) {
  .inbox__description-text {
    margin-top: 30px;
  }
}
.inbox__review {
  padding: 30px 20px;
  margin-top: 30px;
  background-color: #fff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border-bottom: 4px solid #0185D0;
}
@media screen and (min-width: 400px) {
  .inbox__review {
    margin-top: 44px;
    padding: 30px 30px 24px 30px;
    width: 519px;
  }
}
.inbox__review-text {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
}
.inbox__review-text .inbox__review-span {
  font-weight: 700;
}
.inbox__review-avatar {
  display: flex;
  margin-top: 26px;
  width: 100%;
}
@media screen and (min-width: 400px) {
  .inbox__review-avatar {
    width: 519px;
  }
}
.inbox__review-avatar .inbox__avatar {
  margin-right: 11px;
}
.inbox__review-avatar .inbox__avatar-name {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}
.inbox__review-avatar .inbox__avatar-profession {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}

.communication {
  padding: 50px 15px;
}
@media screen and (min-width: 400px) {
  .communication {
    margin: 110px auto;
    padding: 0;
    max-width: 1140px;
  }
}
@media screen and (min-width: 400px) {
  .communication__top {
    display: flex;
  }
}
@media screen and (min-width: 400px) {
  .communication__top-block {
    max-width: 462px;
    margin-right: 193px;
  }
}
.communication__subtitle {
  margin: 0;
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
  color: #0189D1;
}
@media screen and (min-width: 400px) {
  .communication__subtitle {
    margin-top: 13px;
  }
}
.communication__title {
  margin: 0;
  margin-top: 17px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -0.36px;
}
@media screen and (min-width: 400px) {
  .communication__title {
    margin-top: 24px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.communication__top-text {
  margin: 18px 0 30px 0;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 400px) {
  .communication__top-text {
    margin-top: 30px 0 39px 0;
  }
}
@media screen and (min-width: 400px) {
  .communication__button {
    margin-bottom: 87px;
  }
}
.communication__image-block {
  margin: 0;
}
.communication__image {
  margin-top: 40px;
  max-width: 100%;
}
@media screen and (min-width: 400px) {
  .communication__image {
    margin-top: 0;
  }
}
.communication__image-caption {
  margin-top: 17px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}
@media screen and (min-width: 400px) {
  .communication__image-caption {
    margin-top: 15px;
    margin-bottom: 26px;
  }
}
.communication__line {
  width: 150px;
  margin-left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1490196078);
}
@media screen and (min-width: 400px) {
  .communication__bottom {
    display: flex;
    margin-top: 41px;
  }
}
.communication__description {
  margin-top: 33px;
  font-size: 18px;
  line-height: 26px;
}
@media screen and (min-width: 400px) {
  .communication__description {
    margin-right: 30px;
  }
  .communication__description:last-child {
    margin-right: 0;
  }
}
.communication__description-span {
  font-weight: 700;
}
.communication__description-text {
  margin: 0;
}
.communication__description-link {
  font-weight: 700;
  color: #3142C6;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #2B292D;
}

.page {
  width: 100%;
}
@media screen and (min-width: 400px) {
  .page {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
  }
}

/*# sourceMappingURL=styles.css.map */
