.button-action {
  height: 48px;
  width: 160px;
  border: none;
  border-radius: 2px;
  background-color: #3040C4;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

.top-section {
  background-color: #F3C6BD;
}
@media screen and (min-width: 400px) {
  .top-section {
    padding-top: 39px;
    background-color: #F3C6BD;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 64px;
  background-color: #fff;
}
@media screen and (min-width: 400px) {
  .header {
    display: flex;
    margin: auto;
    width: 1140px;
    height: 62px;
    background-color: #F3C6BD;
  }
}

.header__logo {
  display: flex;
  align-items: center;
}
.header__logo .header__logo-img {
  height: 48px;
  width: 48px;
  margin-left: 15px;
  margin-right: 13px;
}
@media screen and (min-width: 400px) {
  .header__logo .header__logo-img {
    height: 60px;
    width: 60px;
    margin: auto;
    margin-right: 15px;
  }
}
@media screen and (min-width: 400px) {
  .header__logo .header__logo-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
}
.header__logo .header__logo-name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.header__logo .header__logo-description {
  display: none;
}
@media screen and (min-width: 400px) {
  .header__logo .header__logo-description {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    opacity: 0.6;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 400px) {
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
}
.navigation__item {
  margin-right: 50px;
  color: #2B292D;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__arrow {
  display: inline-block;
  height: 5px;
  width: 8px;
  margin-left: 11px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
}
.navigation__item_selected {
  font-weight: 700;
}

.header__button {
  display: none;
}
@media screen and (min-width: 400px) {
  .header__button {
    display: block;
  }
}

.header__menu-button {
  height: 100%;
  width: 58px;
  margin-left: auto;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1490196078);
  background: transparent;
}
@media screen and (min-width: 400px) {
  .header__menu-button {
    display: none;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  margin: auto;
}

@media screen and (min-width: 400px) {
  .footer__content {
    display: flex;
    width: 1140px;
    height: 338px;
    margin: auto;
  }
}

.footer__information {
  border-bottom: 1px solid #E3E3E3;
  width: 100%;
}
@media screen and (min-width: 400px) {
  .footer__information {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: none;
  }
}

@media screen and (min-width: 400px) {
  .about-company {
    margin-top: 44px;
  }
}

.logo {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 399px) {
  .logo {
    display: none;
  }
}
.logo__img {
  margin: 0;
  height: 60px;
  width: 60px;
  margin-right: 15px;
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__description {
  font-size: 18px;
  line-height: 25px;
  color: #2B292D;
  opacity: 0.6;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__img {
  margin-top: 40px;
  height: 60px;
  width: 60px;
  margin-right: 0;
}
.logo-vertical__name {
  margin-top: 20px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  color: #2B292D;
  opacity: 0.6;
}

.footer__description {
  display: none;
}
@media screen and (min-width: 400px) {
  .footer__description {
    display: block;
    line-height: 26px;
    font-size: 18px;
    width: 360px;
    margin-top: 26px;
    color: #2B292D;
    opacity: 0.6;
  }
}

.footer__downloads {
  margin-top: 31px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 400px) {
  .footer__downloads {
    margin: 0;
    margin-top: 25px;
    justify-content: left;
  }
}
.footer__downloads .download__img {
  margin-right: 10px;
}

@media screen and (min-width: 400px) {
  .additional-navigation {
    margin-top: 60px;
    margin-left: 126px;
    display: flex;
  }
}
.additional-navigation__column {
  margin: 30px 15px;
}
@media screen and (min-width: 400px) {
  .additional-navigation__column {
    margin-right: 29px;
  }
}

.nav-links {
  width: 265px;
}

.nav-links__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2B292D;
  margin: 0;
}

.nav-links__list {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-top: 18px;
  color: #2B292D;
  opacity: 0.6;
}

@media screen and (min-width: 400px) {
  .footer__line {
    margin: 0;
    border-bottom: 1px solid #2B292D;
    width: 1400px;
    opacity: 0.1;
  }
}

.footer-links {
  margin-left: 15px;
}
@media screen and (min-width: 400px) {
  .footer-links {
    width: 1140px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}

.footer__navigation {
  line-height: 22px;
  font-size: 14px;
  margin-bottom: 31px;
}
@media screen and (min-width: 400px) {
  .footer__navigation {
    line-height: 50px;
  }
}
.footer__navigation .footer__navigation_item {
  text-decoration: none;
  color: #2B292D;
  opacity: 0.6;
  margin-right: 20px;
}

.social-links {
  margin-bottom: 23px;
}
@media screen and (min-width: 400px) {
  .social-links {
    margin-left: auto;
  }
}
.social-links__item {
  margin-right: 20px;
}
@media screen and (min-width: 400px) {
  .social-links__item {
    margin-left: 20px;
    margin-right: 0;
  }
}

.button-action {
  height: 48px;
  width: 160px;
  border: none;
  border-radius: 2px;
  background-color: #3040C4;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

.button-action {
  height: 48px;
  width: 160px;
  border: none;
  border-radius: 2px;
  background-color: #3040C4;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

.headline {
  width: 100%;
  background-color: #F3C6BD;
}
@media screen and (min-width: 400px) {
  .headline {
    display: flex;
    position: relative;
    width: 1140px;
    margin: auto;
    margin-top: 84px;
    padding-bottom: 77px;
  }
}
.headline__content {
  margin: 35px 15px 33px 15px;
}
@media screen and (min-width: 400px) {
  .headline__content {
    margin: 0;
    position: absolute;
    z-index: 1;
  }
}

.headline__title {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.3125px;
}
@media screen and (min-width: 400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
    margin: 0;
  }
}

.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 400px) {
  .headline__description {
    margin-top: 34px;
    margin-bottom: 0;
    height: 102px;
    width: 456px;
    z-index: 1;
  }
}

.headline__actions {
  margin-top: 30px;
}
@media screen and (min-width: 400px) {
  .headline__actions {
    margin-top: 58px;
    display: flex;
  }
}

@media screen and (max-width: 399px) {
  .headline__button-action {
    width: 100%;
  }
}

.headline__button-action_light {
  height: 48px;
  width: 160px;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  color: #3040C4;
  font-weight: 700;
  font-size: 18px;
  margin-top: 15px;
}
@media screen and (max-width: 399px) {
  .headline__button-action_light {
    width: 100%;
  }
}
@media screen and (min-width: 400px) {
  .headline__button-action_light {
    margin-left: 10px;
    margin-top: 0;
  }
}

.headline__banner {
  width: 100%;
  margin-bottom: 33px;
}
@media screen and (min-width: 400px) {
  .headline__banner {
    position: relative;
    right: -105px;
    margin-left: auto;
    top: 0;
    width: 796px;
    height: 448px;
  }
}

.about {
  width: 100%;
  padding: 46px 15px;
  background-color: #F4F5F7;
}
@media screen and (min-width: 400px) {
  .about {
    display: flex;
    width: 1400px;
    margin: auto;
    justify-content: space-between;
    padding: 77px 130px 76px;
  }
}

.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 400px) {
  .article {
    width: 555px;
  }
  .article:last-child {
    margin-top: 0;
  }
}
.article__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
}
.article__text {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 6px;
}

.customers {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 400px) {
  .customers {
    display: flex;
    width: 1140px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 106px;
    flex-direction: row;
  }
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
    align-items: center;
  }
}
.customers .customers__item {
  height: 97px;
  flex: 1;
  border-bottom: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 400px) {
  .customers .customers__item {
    border: none;
    height: 100%;
    width: 100%;
  }
}
.customers .customers__item:last-child {
  border-right: none;
}
.customers .customers__logo {
  filter: brightness(0);
  max-width: 70%;
}

.features__section {
  display: flex;
  position: relative;
}
@media screen and (max-width: 399px) {
  .features__section {
    display: none;
  }
}

.img-decoration {
  position: absolute;
  top: 258px;
}

.features {
  width: 1140px;
  display: flex;
  margin: auto;
}
.features__content {
  width: 459px;
}
.features__subtitle {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  color: #009B4D;
}
.features__title {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-top: 24px;
}
.features__description {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
.features__advantage-header {
  margin-top: 42px;
  display: flex;
}
.features__advantage-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-left: 15px;
  color: #3142C6;
}
.features__advantage-text {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142C6;
}
.features__advantage-item {
  font-size: 18px;
  line-height: 26px;
  border-bottom: 1px solid rgba(43, 41, 45, 0.1490196078);
  margin-top: 21px;
  padding-bottom: 22px;
  display: flex;
}
.features__advantage-item-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}

.features__banner {
  position: absolute;
  right: 0;
}

.tips {
  padding-top: 8px;
}
@media screen and (min-width: 400px) {
  .tips {
    display: none;
  }
}

.tip {
  padding: 40px 15px;
  border-bottom: 1px solid #E3E3E3;
}
.tip:last-child {
  border: none;
}
.tip__subtitle {
  margin: 0;
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
  color: #009B4D;
}
.tip__title {
  margin: 0;
  margin-top: 17px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -0.36px;
}
.tip__description {
  margin: 0;
  margin-top: 15px;
  font-size: 24px;
  line-height: 34px;
}
.tip__decoration {
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}
.tip .tip__image {
  flex: 1;
}
.tip .tip__image-caption {
  margin-top: 19px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  opacity: 0.6;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

.page {
  width: 100%;
}
@media screen and (min-width: 400px) {
  .page {
    display: flex;
    flex-direction: column;
    width: 1400px;
    margin: auto;
    min-height: 100vh;
  }
}

/*# sourceMappingURL=styles.css.map */
