@import 'variables.scss';
@import 'common.scss';
@import 'breakpoints.scss';

.header {
  display: flex;
  height: 64px;
  background-color: $color-primary;

  @include for-large-up {
    display: flex;
    margin: auto;
    width: 1140px;
    height: 62px;
    background-color: $color-secondary;
  }

  &__button {
    display: none;

    @include for-large-up {
      display: block;
    }
  }

  &__menu-button {
    height: 100%;
    width: 58px;
    margin-left: auto;
    border: none;
    border-left: 1px solid $color-dark-border;
    background: transparent;

    @include for-large-up {
      display: none;
    }
  }
}

.navigation {
  display: none;

  @include for-large-up {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;

    &__item {
      margin-right: 50px;
      color: $color-text;
      text-decoration: none;
      line-height: 25px;
      font-size: 18px;

      &:last-child {
        margin-right: 0;
      }

      &_selected {
        font-weight: 700;
      }
    }

    &__arrow {
      display: inline-block;
      height: 5px;
      width: 8px;
      margin-left: 11px;
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
    }
  }
}
