@import 'variables.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'common.scss';
@import 'headline.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'tips.scss';
@import 'order.scss';
@import 'audience.scss';
@import 'inbox.scss';
@import 'communication.scss';
@import 'logo.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: $color-text;
}
.page {
  width: 100%;

  @include for-large-up {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
  }
}
