$color-primary: #fff;
$color-secondary: #f3c6bd;
$color-accent: #3040c4;
$color-text: #2b292d;
$color-light: #f4f5f7;
$color-light-border: #e3e3e3;
$color-green: #009b4d;
$color-blue: #3142c6;
$color-blue-communication: #0189d1;
$color-blue-background: #3141c5;
$color-dark: #2b292d26;
$color-light-grey: #2b292d99;

$color-light-blue: #00a1c612;
$color-dark-border: #00000026;
$color-blue-border: #0185d0;
$color-black: #000;
$color-light-background: #fcf0e366;
$color-orange: #f1592b;

@mixin for-large-up {
  @media screen and (min-width: 1400px) {
    @content;
  }
}

@mixin for-extra-small {
  @media screen and (max-width: 1399px) {
    @content;
  }
}
